<% include ../partials/top.ejs %>

<div class="jumbotron">
    <div class="container">
        <h1>Readthrough <small style="font-size: 50%">Get through your readings</small></h1>

        <% if(error) { %>
            <div class="alert alert-warning" role="alert">
                <p><strong>Error</strong>: 
                    <% if(error == 'no_consumer_key') { %>
                        Configuration incomplete. Please set up with the Pocket authentication key.
                    <% } else { %> 
                        Unknown error.
                    <% }%>
            </div>
        <% } %>

        <p><a href="http://github.com/gaurav/readthrough">Readthrough</a> is an open source tool 
        to help you get through a long reading list.
        </p>
        
        <p><strong>Information we store.</strong> We will never store usernames
        and passwords. We store your e-mail address on a <a href="https://mongolab.com/databases/readthrough">hosted MongoLabs instance</a>.
        At the moment, we only support reading lists from <a href="https://getpocket.com">Pocket</a>; if you log in with your
        Pocket account, we store your Pocket access token. We do not keep backups of our database; you can delete your e-mail
        address and/or Pocket access token at any point.
        </p>

        <p><strong>Ready to start?</strong> You may <strong><a href="/login/pocket">login using Pocket</a></strong>. Login using other sources may be developed later.</p>

        <p><strong>Problems?</strong> Please <a href="https://github.com/gaurav/readthrough/issues">look through reported issues</a>
        or <a href="https://github.com/gaurav/readthrough/issues/new">file a new issue</a>. 
        </p>
    </div>
</div>

<% include ../partials/bottom.ejs %>
